.lower-photo
  .lower-photo__box
    %h2.subtitle だれでもかんたん、人生を変えるフリマアプリ
    %p.text
      今すぐ無料ダウンロード！
    .lower-photo__box__btn
      .lower-photo__box__btn__abtn
        = link_to image_tag("svg/download-on-the-app-store-apple.svg", alt:"app store"), "#"
      .lower-photo__box__btn__gbtn
        = link_to image_tag("svg/google-play-badge.svg", alt:"google play"), "#"