.new__page__header{
  height: 75px;
  width: 100%;
  background-color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  padding-top: 8px;
  box-sizing: border-box;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  img {
    width: 150px;
    cursor: pointer;
  }
}
.new_item, .edit_item{
  background-color: #FFFFFF;
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  .form__label{
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    margin-top: 10px;
    .lavel__name{
    margin-right: 5px;
    }
    .lavel__Required{
    background-color: red;
    color: white;
    width: 50px;
    text-align: center;
  }
  }
  #image-box-1{
    display: flex;
    flex-wrap: wrap;
    .item-image{
      width: 180px;
    }
    .item-num-0{
      width: 940px;
      @include image_place();
    }
    .item-num-1{
      width: 760PX;
      @include image_place();
    }
    .item-num-2{
      width: 580PX;
      @include image_place();
    }
    .item-num-3{
      width: 400PX;
      @include image_place();
    }
    .item-num-4{
      width: 220PX;
      @include image_place();
    }
    //下段のfile_field
    .item-num-5{
      width: 940px;
      @include image_place();
    }
    .item-num-6{
      width: 760PX;
      @include image_place();
    }
    .item-num-7{
      width: 580PX;
      @include image_place();
    }
    .item-num-8{
      width: 400PX;
      @include image_place();
    }
    .item-num-9{
      width: 220PX;
      @include image_place();
    }
    .img-label{
      flex-wrap: wrap;
      .item-image{
        &__content{
          &--icon{
            object-fit: contain;
          }
        }
      }
    }
    .fas.fa-camera{
      margin-top: 75px;
    }
    .item-image__operetion{
      width: 50px;
      margin-right: 0px;
    }
    .js-file{
      display: none;
    }
  }
  .name_field{
    @include input_place();
  }
  .explanation_field{
    padding: 0 16px;
  width: 940px;
  height: 120px;
  }
  .serect_field{
    @include input_place();
  }
  .exhibition_price_field{
    height: 40px;
    padding: 0 16px;
    width: 40%;
    text-align: right;
  }
  .send{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
    &__sipping_btn{
      background-color: #3CCACE;
      color: #FFFFFF;
      width: 360px;
      height: 48px;
      font-weight: 600;
      border-radius: 10px;
      border: 1px solid transparent;
    }
  }
}