* {
  box-sizing: border-box;
  .main-pay{
    background-color: #f5f5f5;
    padding: 30px;
    &__main{
      background-color: #fff;
      width: 700px;
      margin: 0 auto;
      border-style: solid;
      border-width: 0;
      .buy__item__content{
        padding: 32px;
        color: #333;
        font-size: 22px;
        text-align: center;
        .buy__item__title{
          font-size: 30px;
        }
        .buy__item__content__inner{
          display: flex;
          max-width: 343px;
          margin: 0 auto;
          .buy__item__image{
            img {
              width: 80px;
              height: 80px;
              min-width: 80px;
            }
          }
          .buy__item__detail{
            margin-left: 16px;
            .buy-item-name{
              font-size: 14px;
              padding-bottom: 8px;
              text-align: left;
              line-height: 1.5;
            }
            .buy-price{
              text-align: left;
              font-size: 15px;
              display: flex;
              font-weight: bold;
              .price{
                font-size: inherit;
              }
              .delivery_fee{
                font-size: 12px;
              }
            }
          }
        }
        .buy__item__user__info{
          max-width: 343px;
          margin: 0 auto;
          .buy__content__table{
            .buy__price__cell{
              display: flex;
              justify-content: space-between;
              width: 100%;
              &_label{
                font-size: 18px;
                text-align: left;
              }
              .buy__price{
              text-align: right;
              }
            }
            .buy__content__buy__user__info{
              padding: 32px 0;
              img {
                height: 40px;
              }
              .buy__content__inner{
                .buy__user__info__form--buynow {
                  margin-top: 30px;
                  &--text {
                    margin-top: 15px;
                    font-size: 10px;
                  }
                }
                .buy__user__info__title{
                  text-align: left;
                  font-size: 14px;
                    .buy__user__info__form{
                    display: flex;
                    .icon__plus{
                      text-decoration: none;
                      color: #3CCACE;
                      padding-top: 2px;
                      margin-right: 2px;
                    }
                    .buy__register__text{
                      text-decoration: none;
                      color: #3CCACE;
                    }
                    &:hover{
                      text-decoration: underline;
                    }
                  }
                }
              }
              .buy__btn{
                background-color:#888;
                width: 100%;
                line-height: 48px;
                font-size: 14px;
                font-weight: 600;
                a {
                  text-decoration: none;
                  color: #fff;
                  display: block;
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
    &__fotter{
      text-align: center;
      &_nav{
        .clearfix{
          .fotter-link{
            text-decoration: none;
            color: #333;
            font-size: 10px;
          }
        }
      }
    }
  }
}